@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

h1 {
  font-size: 300px;
  text-align: center;
  margin-top: -60px;
}
h2 {
  font-size: 100px;
  text-align: center;
}

#btn {
  position: relative;
  float: right;
  margin-top: -50px;
  margin-right: 200px;
  font-size: 25px;
  border-radius: 8px;
}

#cartas {
  background-color: white;
  height: 600px;
  width: 425px;
  margin-left: 34%;
  border-radius: 10px;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
}

#paloariba {
  width: 100px;
  height: 90px;
  float: left;
  margin-left: 17px;
  margin-top: 0px;
  position: relative;
}

#paloabajo {
  width: 100px;
  height: 90px;
  float: right;
  margin-right: 20px;
  margin-top: 72px;
}

#numcarta {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 150px;
  position: relative;
  text-align: center;
}

/*let pinta = ['\u2666','\u2665','\u2660', '\u2663']*/
